//
// Global variables
//
@ga-lightbox-image-contain-breakpoint:               1440px;
@ga-lightbox-toolbar-height:                            8vh;
@ga-lightbox-toolbar-min-height:                       60px;
@ga-lightbox-background:                   rgba(0,0,0,0.85);

// Used in theme mode (class attribute contains "ga-lightbox-theme")
@ga-lightbox-toolbar-button-padding:            0.5rem 1rem;
@ga-lightbox-toolbar-button-border-radius:              1px;
@ga-lightbox-toolbar-button-text-color:          ButtonText;
@ga-lightbox-toolbar-button-bg-default-color:       #fcfcfc;
@ga-lightbox-toolbar-button-bg-hover-color:         #e9e9e9;


/**
 * Show and hide
 */
.ga-lightbox {
	position: fixed;
	width: 100%;
	height: 100vh;
	height: 100%;


	opacity: 1;
	top:  0px;
	left: 0px;

	transition: opacity 0.3s ease-out;
	&[hidden] {
		top:  -200%;
		left: -200%;
		opacity: 0;
	}
}



/**
 * Useful settings, overall appearance
 */
.ga-lightbox {

	box-sizing: border-box;

	// Resets margins
	margin: 0px auto;

	//text-align: center;
	background: @ga-lightbox-background;
}




/**
 * Layout inside Lightbox
 */
.ga-lightbox {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;


	.lightbox-image-container,
	.lightbox-toolbar {

	    /* Let image sit centered */
	    align-self: auto;
		display: flex;
		align-items: center;
		justify-content: center;

	    // Make full width
		width: 100%;
	}


	.lightbox-image-container {
	    // Show as first item
	    order: 1;
		// Container is growing flex item
	    flex: 1 1 auto;

		overflow: hidden;
	}



	.lightbox-toolbar {
		// Show second
	    order: 2;
	    // Toolbar does not grow
	    flex: 0 1 auto;

	    // The height
		height:     @ga-lightbox-toolbar-height;
		min-height: @ga-lightbox-toolbar-min-height;
	}


}



/**
 * How images are handled
 */
.ga-lightbox {

	.lightbox-image-container {
		background: none;

		img {
			display: block;
			margin: 0px auto;
			max-height: 100vh - @ga-lightbox-toolbar-height;
			width: auto;
			vertical-align: top;
		}


		&[data-lightbox="background"] {
		    background-repeat: no-repeat;
		    background-position: center center;

		    background-size: cover;
		    @media (min-width: @ga-lightbox-image-contain-breakpoint) { background-size: contain;  }
		}


		img[hidden],
		&[data-lightbox="background"] img {
			display: none;
		}


	}
}



/**
 * Make checking lightbox image wee more difficult
 * by adding a transparent GIF overlay
 */
.ga-lightbox {
	.lightbox-image-container {

		position: relative;

		&:after {
			position: absolute;
			top:  0px;
			left: 0px;

			width: 100%;
			height: 100%;

			content: " ";
			background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
			display: block;

		}

	}
}




/**
 * Basic button styling
 */
.colorizeButton( @bg_color; @border: darken( @bg_color, 10%); @text_color: @ga-lightbox-toolbar-button-text-color ) {
	color: @text_color;
    border-color: @border;
    background: @bg_color;
    background-image: linear-gradient(to bottom, @bg_color, darken( @bg_color, 15%));
}



.ga-lightbox.ga-lightbox-theme {

	button {
		font-size: 1rem;
		padding:   @ga-lightbox-toolbar-button-padding;

		border: 1px solid transparent;
		border-radius: @ga-lightbox-toolbar-button-border-radius;

		.colorizeButton( @ga-lightbox-toolbar-button-bg-default-color );

	    &:hover,
	    &:active,
	    &:focus {
	    	.colorizeButton( @ga-lightbox-toolbar-button-bg-hover-color );
	    }
	}
}
